.imgbutton{
    width: 300px;
    height: 100px
}

#flow{
    display: flex;
    flex-direction: row;
}
#flow > div{
    margin-left: 200px;
    
}
#flow > div > div{
    align-items: center;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
}

header {
    height: 75px;
    background-color: #000040;
}

nav {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

nav > ul {
    display: flex;
	list-style: none;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: space-evenly;
}

nav > ul > li {
    height: 100%;
    width: 100%;
}

nav > ul > li > a {
    height: 100%;
    width: 100%;
    display: block;
    font-size: 125%;
    line-height: 75px;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
}

nav > ul > li > a:hover {
    background-color: #000080;
}

#home {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 125%;
    text-decoration: none;
}

.OenT {
    font-weight: bold;
    color: #009DFF;
}

#logo {
    height: 60px;
}

#flagUK {
    height: 15px;
}

#flagNL {
    height: 20%;
    width: 30%;
}

main{
    height: 100vh;
}

.openingstijden{
    width: 30vw;
    margin: 0 auto;
    padding-top: 60px;
}

.openingstijden > table{
    border-spacing: 2px;
}

.openingstijden > table > tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.tickets{
    width: 30vw;
    margin: 0 auto;
    padding-top: 60px
}

.tickets > table{
    border-spacing: 2px;
}

.tickets > table > tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    color: blue;
}

.dropbtn {
    background-color: blue;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: violet;
}

.dropdown {
    position: relative;
    display: inline;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px black;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: white;
}

.show {
    display:block;
}

footer {
    height: 303px;
    padding-top: 25px;
    background-color: #000040;
    color: #FFFFFF;
    font-size: 125%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    
}

#contacts {
    text-align: left;
    padding-left: 15%;
}

#contactsList {
    display: inline-block;
    padding-top: 30px;
}

#contactsList > a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}

#contactsList > p {
    padding-top: 30px;
}

#socials {
    text-align: left;
    padding-left: 15%;
}

#socialsList {
    list-style: none;
    display: inline-block;
    padding-top: 18px;
}

#socialsList > li {
    padding-top: 18px;
}

#socialsList > li > a {
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 10px;
}

#socialsList > li > a > img {
    height: 30px;
}

#reviews {
    text-align: left;
    padding-left: 15%;
}

.reviewTitle {
    width: 250px;
    display: flex;
    padding-bottom: 5px;
    margin-bottom: 0px;
}

.reviewAverage {
    width: 225px;
    margin-top: -30px;
    display: flex;
    justify-content: right;
    font-size: 20px;
}

.reviewAmount {
    width: 250px;
    margin-top: -20px;
    padding-bottom: 5px;
    display: flex;
    justify-content: right;
    font-size: 15px;
}

#reviewBlock {
    width: 250px;
    height: 212px;
    margin-bottom: 25px;
    display: inline-block;
    overflow-y: scroll;
    background-color: #000020;
}

.reviewText {
    background-color: #000080;
    text-align: left;
    padding: 5px;
    font-size: 15px;
    border-bottom: 2px solid #000000;
}

.reviewName {
    font-weight: bold;
}

.rating {
    text-align: right;
    margin-top: -20px;
}

/* classes tour */ 
.imageTour{
    margin: auto;
}