* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
}

header {
    height: 75px;
    background-color: #000040;
}

nav {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

nav > ul {
    display: flex;
	list-style: none;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: space-evenly;
}

nav > ul > li {
    height: 100%;
    width: 100%;
}

nav > ul > li > a {
    height: 100%;
    width: 100%;
    display: block;
    font-size: 125%;
    line-height: 75px;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
}

nav > ul > li > a:hover {
    background-color: #000080;
}

.OenT {
    font-weight: bold;
    color: #009DFF;
}

#home {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 125%;
    text-decoration: none;
}

#logo {
    height: 60px;
}

#flagUK {
    height: 15px;
}

#flagNL {
    height: 20%;
    width: 30%;
}

body{
    background-color: white;
} 

#container{
    width: 900px;
    height: 600px;
    margin: 50px auto 50px auto;
    display: grid;
    grid-template-columns: auto auto;
    border: inset 2px black;
    position: relative;
    background: darkblue;
}

#myInteraction{
    padding: 10px;
}

img {
    max-width: 100%;
    max-height: auto;
}

#mapImage {
    width: 250px;
    position: absolute;
    left: 69%;
    top: 65%;
}

nav button {
    background-color: #009DFF;
    color: black;
    font-size: 16px;
    padding: 10px;
}

h3{
    color: white;
}

#myTitle{
    color: white;
}

#myImage{
    border: inset 2px black;
    width: 500px;
}

#knopNoordVleugel, #knopVooruit{
    border: inset 2px black;
    display: block;
    width: 304px;
    height: 60px;
}

#knopTerug{
    border: inset 2px black;
    display: block;
    width: 304px;
    height: 60px;
}

#knopOostVleugel, #knopRechts{
    border: inset 2px black;
    display: inline-block;
    width: 150px;
    height: 60px;
}

#knopWestVleugel, #knopLinks{
    border: inset 2px black;
    display: inline-block;
    width: 150px;
    height: 60px;
}

footer {
    height: 303px;
    padding-top: 25px;
    background-color: #000040;
    color: #FFFFFF;
    font-size: 125%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    
}

#contacts {
    text-align: left;
    padding-left: 15%;
}

#contactsList {
    display: inline-block;
    padding-top: 30px;
}

#contactsList > a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}

#contactsList > p {
    padding-top: 30px;
}

#socials {
    text-align: left;
    padding-left: 15%;
}

#socialsList {
    list-style: none;
    display: inline-block;
    padding-top: 18px;
}

#socialsList > li {
    padding-top: 18px;
}

#socialsList > li > a {
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 10px;
}

#socialsList > li > a > img {
    height: 30px;
}

#reviews {
    text-align: left;
    padding-left: 15%;
}

.reviewTitle {
    width: 250px;
    display: flex;
    padding-bottom: 5px;
    margin-bottom: 0px;
}

.reviewAverage {
    width: 225px;
    margin-top: -30px;
    display: flex;
    justify-content: right;
    font-size: 20px;
}

.reviewAmount {
    width: 250px;
    margin-top: -20px;
    padding-bottom: 5px;
    display: flex;
    justify-content: right;
    font-size: 15px;
}

#reviewBlock {
    width: 250px;
    height: 212px;
    margin-bottom: 25px;
    display: inline-block;
    overflow-y: scroll;
    background-color: #000020;
}

.reviewText {
    background-color: #000080;
    text-align: left;
    padding: 5px;
    font-size: 15px;
    border-bottom: 2px solid #000000;
}

.reviewName {
    font-weight: bold;
}

.rating {
    text-align: right;
    margin-top: -20px;
}