header{
    margin-bottom: 1%;
}

h1{
    margin-bottom: 1%;
}
main{
    margin-left: 1%;
}
article{
    display: flex;
    margin-bottom: 2%;
}

article > figure{
    
    width: 50%;
}
article > figure > h2{
    margin-bottom: 1%;
}

article > img{
    margin-right: 5%;
}