header > nav {
    height: 100%;
    width: 100%;
    display: block;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}

header > nav > ul {
    height: 100%;
    width: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

header > nav > ul > li {
    height: 100%;
    width: 100%;
}

header > nav > ul > li > a {
    height: 100%;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 17.5px;
    text-decoration: none;
}

header > nav > ul > li > img {
    height: 100%;
    width: 100%;
    display: block;
    text-align: center;
}

#logo {
    width: 60%;
    margin-left: -100px;
}

#OT {
    background-color: #808080;
    border: 1px solid #000000;
}

#flag {
    width: 60px;
    height: 30px;
    margin-right: 0px;
}

#language {
    justify-content: center;
    margin-bottom: 10px;
}